# Dependecies 
node_modules/

# Playwright
/test-result/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# TypeScript build output
dist/
build/
*.tsbuildinfo

# Environment / secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
yearn-debug.log*
yearn-error.log*
pnpm-debug.log

# OS files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp